{% extends 'main/main.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="grid">
                <div class="grid-header">
                    <i class="fa fa-align-left"></i>
                    <span class="grid-title">Editar Instalaci&oacuten</span>
                    <div class="pull-right grid-tools">
                        <a data-widget="collapse" title="Collapse"><i class="fa fa-chevron-up"></i></a>
                        <a data-widget="reload" title="Reload"><i class="fa fa-refresh"></i></a>
                        <a data-widget="remove" title="Remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="grid-body">
                    {{ form_start(edit_form, {'attr': { 'class':'form-horizontal', 'role' : 'form' }  }) }}
                    <div class="form-group">
                        {{ form_label(edit_form.territoty,'Territorio', { 'label_attr':{ 'class':'col-sm-4 control-label' } }) }}
                        <div class="col-sm-4">
                            {{ form_errors(edit_form.territoty) }}
                            {{ form_widget(edit_form.territoty, {'attr': {'class':'form-control selectpicker','data-live-search':'true','title':'Seleccione el territorio','data-size':'10'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(edit_form.name,'Instalación', { 'label_attr':{ 'class':'col-sm-4 control-label' } }) }}
                        <div class="col-sm-4">
                            {{ form_errors(edit_form.name) }}
                            {{ form_widget(edit_form.name, {'attr': {'class':'form-control','placeholder':'Introdusca el nombre de la instalación'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label"></label>
                        <div class="col-sm-4">
                            <input type="submit" value="Editar" class="btn btn-primary"/>
                            <a href="{{ path('instalation_index') }}" class="btn btn-default">Regresar al listado</a>
                        </div>
                    </div>
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}
